.app.dark {
    --bg-color: #2a2a36;
    --inverted-bg-color: #ede4eb;

    --primary-color: #f6f7ff;
    --secondary-color: #afafaf;
    --inverted-primary-color: #252525;
    --inverted-secondary-color: #77707a;
}