.app.light {
    --bg-color: #ede4eb;
    --inverted-bg-color: #2a2a36;
    
    --primary-color: #252525;
    --secondary-color: #77707a;
    --inverted-primary-color: #f6f7ff;
    --inverted-secondary-color: #afafaf;
}